<div class="text-center">
  <label for="files" class="btn"><span class="material-symbols-outlined">add_a_photo</span></label>
  <input class="form-control btnform" id="files" type="file" accept="image/png, image/jpeg, image/jpg" (change)="onChange($event)" style="visibility:hidden;">
  <button (click)="onUpload()" class="btn btn-success btnsend" *ngIf="file">

    <span class="material-symbols-outlined">
       send
      </span>
  </button>
</div>

<!-- Shareable short link of  uploaded file -->
<div class="container text-center jumbotron" *ngIf="shortLink">
  <h2></h2>
  <a href="{{shortLink}}">{{shortLink}}</a>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3></h3>
</div>
