<mat-toolbar>
  <div class="header__left">
    <div class="logo">
      <a routerLink="/home">
        <img id="site-logo" src="favicon.ico" alt="" width="32" height="32">
        Tamacoin
      </a>
    </div>

  </div>
  <div class="divide"><span></span></div>
  <div class="head_right">
    <div *ngIf="!this.authService.isLoggedIn()">
      <a routerLink="/home">Home</a>
      <a routerLink="/login">LogIn</a>
    </div>


    <div *ngIf="this.authService.isLoggedIn()">
      <a
      routerLink="/home">Home</a>
      <a routerLink="/profile">Profile</a>
      <button (click)="logOut()">Log Out</button>
    </div>
  </div>

</mat-toolbar>

