mat-toolbar{
  background-color: black;
}

.divide{
  width: 80%;
}
a{
  margin-left: 4%;
  text-decoration: none;
  color: white;
}
.logo a {
  display: flex;
  img{
    margin-right: 15px;
  }
}

button {
  margin-left: 4%;
  font-family:  'Open Sans', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: goldenrod;
    color: black;
    border-radius: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


