
<div *ngIf="coin">
  <h1>Coin: {{coin.name}}</h1>
  <p>Current Price: ${{coin.current_price}}</p>
  <p>Image: {{coin.image}}</p>
  <p>Low 24h: ${{coin.low_24h}}</p>
  <p>High 24h: ${{coin.high_24h}}</p>
  <p>Price Change Percentage 24h: {{coin.price_change_percentage_24h}}%</p>
  <p>Market Cap: ${{coin.market_cap}}</p>
  <p>Circulating Supply: {{coin.circulating_supply}}</p>
</div>
<div *ngIf="this.authService.isLoggedIn()">
  <form [formGroup]="tradeForm" (submit)="trade()">
    <mat-form-field>
      <mat-label>How Much</mat-label>
      <input matInput type="number" formControlName="qty" autocomplete="off" (change)="updateSelected()" [(ngModel)]="qty" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <select matNativeControl [(ngModel)]="selected" name="from" formControlName="from" (change)="updateSelected()">
        <option value=-1 selected></option>
        <ng-container *ngFor="let bal of balance; let i = index">
          <option *ngIf="bal.symbol != coin.symbol" [attr.data-index]="i" [value]="i">
            {{bal.symbol.toUpperCase()}} - Balance: {{bal.qty}}
          </option>
        </ng-container>


      </select>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>To</mat-label>
      <input matInput type="number" formControlName="qtyTo" [disabled]="true">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <select matNativeControl disabled="true" >
        <option [value]="coin.symbol.toUpperCase()">{{coin.symbol.toUpperCase()}}</option>
      </select>
    </mat-form-field>

    <div class="botones">
      <button class="login" [disabled]="tradeForm.invalid">Swap</button>
    </div>
  </form>
</div>

<div>
  <h2>Transactions</h2>
    <div class="grid-container">
      <p class="grid-item">Account</p>
      <p class="grid-item">From</p>
      <p class="grid-item">Quantity</p>
      <p class="grid-item">To</p>
      <p class="grid-item">Quantity</p>
    </div>
    <div *ngFor="let transaction of transactions; index as i" class="grid-container">
      <div class="grid-item">{{transaction.user_id}}</div>
      <div class="grid-item">{{transaction.symbol_from}}</div>
      <div class="grid-item">{{transaction.qty_from}}</div>
      <div class="grid-item">{{transaction.symbol_to}}</div>
      <div class="grid-item">{{transaction.qty_to}}</div>
    </div>
    <!-- </div> -->

</div>
