<div class="section">
  <div class="left_section">
    <a routerLink="index.html">
      <img *ngIf="user" src={{user.photo_url}} alt="">
    </a>
    <app-file-upload ></app-file-upload>
    <p *ngIf="user" style="font-weight:bold ;"> {{user.username}}</p>
    <p *ngIf="user">{{user.email}}</p>
  </div>
    <div class="">
      <p style="font-weight:bold ;">Balance</p>
      <li *ngFor="let bal of balance; index as i">
        {{bal.symbol}} - {{bal.qty}}
      </li>
    </div>
</div>
<div class="">

  <p style="font-weight:bold ;">Transactions</p>
  
    <ul *ngFor="let transaction of transactions; index as i" >
        <div> Wallet: {{transaction.user_id}} </div>
        <div> <a [routerLink]="'/coin/'+transaction.symbol_from"> From: {{transaction.symbol_from}} </a></div>
        <div>Qty: {{transaction.qty_from}}</div>
        <div> <a [routerLink]="'/coin/'+transaction.symbol_to"> To: {{transaction.symbol_to}} </a></div>
        <div>Qty: {{transaction.qty_to}}</div>
      <div>Date: {{transaction.timestamp| date : 'dd.MM.yyyy → HH:mm'}}</div>
      
    </ul>
  
</div>
