

h1{
    font-size: 64px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    align-items: center;
    margin-top: 20px;
    line-height: normal;
}

.home{
    text-align: center;
}

span{
    cursor:none;
}
.banner_content{
    text-align: center;
    min-height: auto;
    p{
        padding: 0 65px;
        font-size: 20px;
        letter-spacing: -0.2px;
        margin-bottom: 40px;
    }
}

.banner_image{
    text-align: center;
    margin-top: 50px;
}

.banner{
    padding: 50px 0px;
}

.btn-action{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: goldenrod;
    color: white;
    border-radius: 90px;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

img{
    width: auto;
    height: 60vh;
}

ul {
    display: flex;
    flex-direction: row ;
    vertical-align: middle;
    color: black;
    display: flex;
    .positive {
        color: green;
    }
    
    .negative {
        color: red;
    }
    img{
        width: 18px;
        height: 18px;
    }
}

a{
    text-decoration: none;
    color:black;

}

.positive {
    color: rgb(64, 201, 64);
}

.negative {
    color: red;
}

div > button{
    background-color: goldenrod;
    border-radius: 20px;
    color: white;
}

.trd > .btn-action{
        font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: goldenrod;
        color: white;
        border-radius: 90px;
        padding: 5px 10px;
        font-size: 15px;
        text-decoration: none;
}

.desktop{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: contents;
    text-decoration: none;
  }
  
  .mobile{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:none;
  }

@media (max-width: 760px) {
    .desktop{
        display: none;
    }
    .mobile{
        display:contents;
    }
    .test{
        margin-left: -30px;
    }
    

}

@media (max-width: 321px) {
    h1{
        font-size: 35px;
        margin-top: 0px;
    }

    .home{
        margin-top: 0%;
    }

    .banner{
        padding: 20px 0px;
    }

}
