<div class="section">
  <div class="banner_image">
    <img src="../assets/login10.png" alt="">
  </div>
  <div class="div-login">
    <h1>Log In</h1>
      <p>Welcome back! Log In now to start trading</p>
      <div>
        <form [formGroup]="logInForm" (submit)="logUsuario()">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput id="email" type="email" #email formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput id="password" type="password" #password formControlName="password">
          </mat-form-field>
          <div class="botones">
            <button  class="login" #trigger id="trigger" [disabled]="logInForm.invalid">Login</button>
            <button type="button" class="cancel">Cancel</button>
          </div>
        </form>
      </div>
    <asl-google-signin-button type='standard' size='medium' style="margin-bottom:15px"></asl-google-signin-button>
    <div>Create a new account → <a routerLink="/signup">Sign Up</a></div>
  </div>
</div>
