<div class="div-login">
  <h1>LogIn</h1>
  Aqui va formulario para iniciar sesion
    <div>
      <form [formGroup]="logInForm" (submit)="logUsuario()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <div class="botones">
          <button mat-flat-button color="primary" [disabled]="logInForm.invalid">Login</button>
          <button type="button" mat-flat-button color="warn">Cancel</button>
        </div>
      </form>
    </div>
  <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
  Create a new account <a href="/signup">Register</a>
</div>


